
.wrap-content {
  max-width: 37.438em;
  padding: 30px 15px;
  margin: auto;
}

.lists-container  {
  display: block;
}

.list-card {
  background-color: white;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  & > * {
    width: 30%;
  }
}

.lists-card--buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-lists {
  background-color: transparent;
  border: none;
}